# dist
dist/

# npm
node_modules/
npm-debug.log*
package-lock.json

# IntelliJ IDEA
.idea/

# some default urls used for testing
src/store/defaultMapGermany.json
src/store/defaultUrlsHamnet.json
src/store/defaultUrlsInternet.json
