textarea {
	resize: vertical;
}

.page-header {
	margin-top: 50px;
}

.fa-refresh {
	color: #c1c1c1;
	cursor: pointer;
	font-size: .8em !important;
}

.help-block {
	color: #808080;
}

.fa-question-circle {
	cursor: pointer;
}

.linklike {
	color: #d9230f;
	margin: 0;
	text-decoration: none;
}

.linklike:hover {
	color: #91170a;
	cursor: pointer;
	text-decoration: underline;
}

/* temporary fix until SweetAlert2 releases a new version */
.swal2-popup {
	font-size: 1.6rem !important;
}

@media (min-width: 1330px) {
	.container {
		width: 1300px;
	}
}

@media (min-width: 1430px) {
	.container {
		width: 1400px;
	}
}

@media (max-width: 1200px) {
	.actions.well {
		margin-top: 1em
	}
}

@media (min-width: 768px) {
	.page-header h1 {
		font-size: 3em;
	}
}
