body {
	padding-top: 50px;
}

body > .navbar {
	transition: background-color 300ms ease-in;
}

#splashscreen {
	background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10000;
}

.center {
	position: fixed;
  	top: 45%;
  	left: 50%;
	transform: translate(-50%, -50%);
}

.divider-vertical {
	border-left: 1px solid #F2F2F2;
	border-right: 1px solid #FFF;
	height: 40px;
	margin: 0 5px;
}

#map {
	height: 40em;
}

@media (min-width:768px) {
	.page-header h1 {
		font-size: 4em;
	}

	footer {
		margin-top: 5em;
	}

	footer li {
		float:left;
		margin: 0 1.5em 1.5em 0;
	}

	footer p {
		clear: left;
		margin-bottom: 0;
	}
}

#navbar-main-nav, #homeStats, #btnLogout, #loggedin, #modalLoginAlert,
#container2, #container3, #container4, #container5, #container6, #container7, #container8, #container9, #container10, #container11, #container12, #container13,
#container2-detail, #container3-detail, #container4-detail, #container5-detail, #container5-detail2, #container6-detail, #container7-detail, #container8-detail, #container9-detail {
	display: none;
}

/* Bootstrap Additions for Chosen
	based on https://gist.github.com/koenpunt/6424137 */
select.form-control + .chosen-container.chosen-container-single .chosen-single {
	display: block;
	width: 100%;
	height: 36px;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	background-image: none;
}

.has-error select.form-control + .chosen-container.chosen-container-single .chosen-single,
.has-error select.form-control + .chosen-container-multi .chosen-choices {
	border-color: #b94a48;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
	top: 4px;
	color: #000;
}

select.form-control + .chosen-container .chosen-drop {
	background-color: #FFF;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	margin: 2px 0 0;
}

select.form-control + .chosen-container .chosen-search input[type=text] {
	display: block;
	width: 100%;
	height: 24px;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	background-image: none;
}

select.form-control + .chosen-container .chosen-results {
	font-size: 13px;
	list-style: none;
	background-color: #fff;
}

select.form-control + .chosen-container .chosen-results li ,
select.form-control + .chosen-container .chosen-results li.active-result {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333;
	white-space: nowrap;
	background-image: none;
}

select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted {
	color: #FFF;
	text-decoration: none;
	background-color: #428BCA;
	background-image: none;
}

select.form-control + .chosen-container-multi .chosen-choices {
	display: block;
	width: 100%;
	height: 36px;
	padding: 6px;
	font-size: 13px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	background-image: none;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	height: 24px;
	padding: 5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
	background-image: none;
	padding: 3px 24px 3px 5px;
	margin: 0 6px 0 0;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #333;
	background-color: #FFF;
	border-color: #CCC;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	top: 7px;
	right: 6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus {
	border-color: #66AFE9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected {
	display: list-item;
	color: #ccc;
	cursor: default;
	background-color: white;
}

select.form-control + .chosen-container-single .chosen-single abbr {
	margin-top: 5px;
}

.input-group .chosen-container-single .chosen-single {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.chosen-container-single .chosen-single span {
	padding-top: 2px;
}
